<label for="preg" class="rem">Pregunta:</label>
<%if (state === 'edit') { %>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<% } else { %>
	<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"/> <p>
<% } %>
<label for="resp" class="rem">Respuesta:</label>
<%if (state === 'edit') { %>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<% } else { %>
	<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/> <p>
<% } %>

<a href="/quizes"><button type="button">Cancelar</button></a>
